nav.navbar.navbar-expand-lg.navbar-light.scrolling-navbar.fixed-top
	.container
		a.navbar-brand(href='/' style='color: #fff') 
			b A'Share
		// Collapse button
		button.navbar-toggler.float-right(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
			span.navbar-toggler-icon
		// Collapsible content
		#navbarSupportedContent.collapse.navbar-collapse.justify-content-center
			ul.navbar-nav
				li.nav-item
					a.nav-link(href='/Dist/') Home
				li.nav-item
					a.nav-link(href='/Dist/about.html') About
				li.nav-item
					a.nav-link(href='/Dist/contact.html') contact
				
